# Caching
/frontend/.next
/frontend/node_modules
/backend/node_modules
/frontend/prisma/client
/frontend/data/temp

# User-Generated-Content
/backend/uploads
/backend/dist
/backend/data


# Sensitive Files
core/prisma/.env
frontend/.env
backend/.env
frontend/next-env.d.ts
/.vscode
