
/frontend/.next
/frontend/node_modules
/backend/node_modules
/backend/uploads
/backend/dist
/core/prisma/node_modules
/core/prisma/client
core/prisma/.env
/backend/data
frontend/.env
/frontend/prisma/client
