# ALLOWED_IPS: Just keep this localhost, unless you host Fastify on a different machine than NextJS. Then put the NextJS IP here.
# VIDEO_ENCODER: Can be either "av1", "h264", "h265", or "vp9". HW Encoder picked automatically.
# DISABLE_VIDEO_PREVIEWS: Disable re-encoding video entirely. Useful for small cloud VPSes.
# ENCODER_OVERRIDE: Manually pick what encoder to use. (Nullifies 'VIDEO_ENCODER')

# Visit https://docs.booru.party/setup/encoders for list of compatible video encoders.

ALLOWED_IPS=127.0.0.1,::1
VIDEO_ENCODER=av1
DISABLE_VIDEO_PREVIEWS=false